body {
  background-color: rgba(32, 38, 57, 0.9);
  color: white;
  font-family: "poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-1 {
  grid-template-columns: 1fr 1fr;
}
.grid-2 {
  grid-template-columns: 1fr 2fr 2fr;
}
.valencia {
  max-width: 100%;
}

section-2 {
  color: white;
  margin: 50px;
  padding: 30px 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/Atlas-World-Map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  padding: 200px 0;
  height: auto;
  max-width: 100%;
  text-align: center;
}

header h1 {
  font-size: 90px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 10px;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}
h5 {
  opacity: 0.7;
}
main {
  background-color: white;
  color: black;
  padding: 60px;
}
main a {
  color: black;
  opacity: 0.7;
}
main a:hover {
  color: rgba(63, 76, 119, 0.9);
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
footer {
  background-image: linear-gradient(
      rgba(16, 23, 46, 0.9),
      rgba(63, 76, 119, 0.9)
    ),
    url("../images/travel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  border-radius: 2px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    width: 100%;
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
