body {
  color: white;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}
section.secondary {
  background: #f8f8f8;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/spain-illustration.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0;
  margin-top: 10px;
  border-radius: 10px;
}

#hero h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
#hero h2 {
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  opacity: 0.8;
}
#hero h4 {
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.8;
}
#wonders {
  font-size: 28px;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}
h5 {
  font-size: 16px;
  font-weight: 700;
}
h5.accent-color {
  margin-bottom: 10px;
}
p {
  font-size: 14px;
  opacity: 0.7;
}
p.small {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  opacity: 0.6;
}

main {
  background-color: white;
  color: black;
  padding: 0px;
}
main a {
  color: black;
  opacity: 0.7;
}
main a:hover {
  color: rgba(63, 76, 119, 0.9);
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
iframe {
  width: 100%;
  border-radius: 10px;
}
table {
  text-align: center;
  table-layout: auto;
  width: 100%;
  padding: 20px;
}
table a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 500;
}
table a:hover {
  color: red;
}
footer {
  background-image: linear-gradient(
      rgba(16, 23, 46, 0.9),
      rgba(63, 76, 119, 0.9)
    ),
    url("../images/travel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  border-radius: 2px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer a:hover {
  color: rgb(171, 115, 224);
  transition: all 100ms ease-in-out;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.credits {
  position: absolute;
  padding-right: 15px;
  right: 20px;
  top: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.credits a {
  text-decoration: none;
  color: rgb(243, 243, 233);
}
.credits a:hover {
  transition: all 100ms ease-in-out;
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.font500 {
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}
.small {
  font-size: small;
}
.valencia {
  filter: brightness(1.3);
  max-width: 100%;
  display: block;
}
.towns {
  font-size: 25px;
  margin: 2px 0;
}
.best-beaches {
  margin: 0px;
}
.beach {
  margin: 0px;
}
.h2-heading {
  margin: 10px;
}

.why-travel-section,
p {
  font-size: 14px;
  line-height: 1.4rem;
}
.virtuoso {
  font-size: 10px;
}
.grid {
  display: grid;
  grid-gap: 30px;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.accent-color {
  color: #001fb0;
  opacity: 1;
  margin: 0;
}
.img-responsive {
  width: 100%;
  height: 100%;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  color: black;
}
.v-align-grid {
  align-items: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  margin: 0;
  text-align: center;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-rows {
  display: grid;
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background: white;
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-header.grid {
  grid-gap: 0;
  padding: 0;
  border-radius: 0;
}
.card p {
  text-align: left;
}
.card-body {
  padding: 20px 15px;
  text-align: left;
}

.card-footer {
  margin: 0;
  margin-top: auto;
  padding: 0;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  background-color: #001fb0;
  text-decoration: none;
  border-radius: 0;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #00177d;
  opacity: 1;
  color: white;
}
.image-gallery {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.videos {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.video:hover {
  transform: scale(1.2);
  transition: all 150ms ease-in-out;
}
.resources {
  color: black;
  text-align: center;
}
.table-container {
  overflow-x: auto;
}
.more-info {
  color: black;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.travel-info {
  border-collapse: collapse;
  border: 2px solid black;
}
.travel-info thead {
  background-color: #001fb0;
}
.travel-info td {
  border: 2px solid black;
  color: black;
}

@media (max-width: 960px) {
  header {
    width: 100%;
    padding: 100px 0;
  }
  #hero h1 {
    font-size: 30px;
  }
  #hero h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .credits {
    font-size: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
  .video:hover {
    transform: none;
    transition: none;
  }
  .valencia {
    display: none;
  }
}
